<h1>Edit Task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.project_task_path(@conn, :update, @task)) %>

<span><%= link "Back", to: Routes.project_task_path(@conn, :index) %></span>
